<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Cards</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <main class="cards">
        <section class="card segunda">
            <h3>SEGUNDA - FEIRA (SUPERIOR)</h3>
            <a href="/segunda"><button >VER</button></a>
        </section>
        <section class="card terca">
            <h3>TERÇA - FEIRA (PERNA)</h3>
            <a href="/terca"><button >VER</button></a>
        </section>
        <section class="card quarta">
            <h3>QUARTA - FEIRA (SUPERIOR)</h3>
            <a href="/quarta"><button >VER</button></a>
        </section>
        <section class="card quinta">
            <h3>QUINTA - FEIRA (PERNA)</h3>
            <a href="/quinta"><button >VER</button></a>
        </section>
        <section class="card sexta">
            <h3>SEXTA - FEIRA (CARDIO)</h3>
            <a href="/sexta"><button >VER</button></a>
        </section>
    </main>
</body>
</html>